<!--
  ~ Copyright The Linux Foundation and each contributor to LFX.
  ~ SPDX-License-Identifier: MIT
  -->
<div>
  <div class="mb-2 relative pr-8">
    <lfx-calculated-card-header [title]="'AVERAGE REVIEW TIME BY PULL REQUEST SIZE'"></lfx-calculated-card-header>

    <div class="absolute top-0 right-0 flex justify-between">
      <lfx-wip></lfx-wip>
      <lfx-download [title]="'AVERAGE-REVIEW-TIME-BY-PULL-REQUEST-SIZE'" [visualization]="elementRef.nativeElement"></lfx-download>
    </div>
  </div>
  <div class="text-gray-f83 text-tiny mb-3">The time required to review pull requests based on lines of code.</div>
  <div class="text-base mb-4">
    Lead time for pull requests with 500+ lines of code is

    <span class="font-bold">down 11%</span>
    <span class="status-icon"> <fa-icon class="bg-red text-white rounded-md text-lg absolute px-[1px]" [icon]="['fas', 'chart-line-down']"> </fa-icon> </span>.
  </div>
  <div class="py-4 flex flex-row">
    <div class="w-full grid gap-6">
      <div class="flex flex-row items-center gap-2" *ngFor="let item of data">
        <div class="basis-1/5 text-tiny">
          <div>{{ item.lines }}</div>
          <div class="text-gray-818">{{ item.prCount }} PRs</div>
        </div>
        <div class="flex-grow">
          <lfx-progress-bar [value]="item.progress" [config]="getConfig(item.color)"></lfx-progress-bar>
        </div>
        <div class="basis-1/5 text-tiny font-bold">{{ item.timeScale }}</div>
      </div>
    </div>
  </div>
</div>
