# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT

**/node_modules
**/.angular/**
**/cdn
**/package-lock.json
.DS_Store
.env
**/*.env
playground/src/assets/cm-ui.js
playground/src/assets/assets/**
playground/src/assets/styles.css
yarn-error.log

# Ignore IntelliJ Idea config files
.idea/

# Turborepo
.turbo

**/dist
*secret*
.cubestore
.cubecloud
*.swp
**/.ssh/private_key
out
