<!--
  ~ Copyright The Linux Foundation and each contributor to LFX.
  ~ SPDX-License-Identifier: MIT
-->
<div class="flex w-full justify-between p-[30px] pb-2.5">
  <div class="">
    <lfx-calculated-card-header [tooltipTemplate]="tooltipTemplate" [title]="'ACTIVE DAYS'"></lfx-calculated-card-header>
    <div class="font-sans text-tiny text-gray-f83 my-3.5">The number of days where technical contributors performed an action within a repository.</div>
    <div class="font-sans text-17 text-gray-dark">
      Active days <span class="font-bold">{{ variation !== 0 ? fullChartDescription : 'remained the same as' }}</span>
      <span
        *ngIf="variation !== 0"
        class="status-icon"
        [ngClass]="{
          'bg-yellow': variationCategory === 'warning'
        }">
        <fa-icon class="bg-red text-white rounded-md text-lg absolute px-[1px]" *ngIf="variationCategory !== 'positive'" [icon]="['fas', 'chart-line-down']">
        </fa-icon>
        <fa-icon class="bg-green text-white rounded-md text-lg absolute px-[1px]" *ngIf="variationCategory === 'positive'" [icon]="['fas', 'chart-line']">
        </fa-icon>
      </span>
      compared to the previous time period.
    </div>
  </div>

  <div class="flex flex-col justify-between">
    <lfx-download [title]="'active-days'" [visualization]="elementRef.nativeElement" [cardName]="cardName"></lfx-download>
  </div>
</div>

<div class="relative pt-20 px-4">
  <lfx-force-directed-chart [config]="config" [chartName]="cardName"> </lfx-force-directed-chart>
  <div class="absolute flex flex-col top-0 left-8 annotation w-[190px] z-10">
    <span class="text-gray-dark text-2.5xl font-bold font-sans">{{ avgContributions }}</span>
    <span class="text-gray-pale text-base font-sans">Average contributions per active day</span>
  </div>
</div>

<ng-template #tooltipTemplate>
  <div class="absolute bottom-[120%] left-0 font-sans rounded-md bg-gray-dark text-xs text-white w-[287px] p-4">
    Active days include any day where there is any activity performed within a repository.
  </div>
</ng-template>
